<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, id: :post_body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>