<p id="notice"><%= notice %></p>
<!-- 投稿詳細 -->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
    	<%= render "users/profile", user: @curent_user %>
        <%= render 'books/new', book: @book %>
      </div>
       <div class="col-lg-9">
<table class="table table-striped">

<h2> Book detail </h2>

<tr>
  <th><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></th>
  <th><%= @book.title %></th>
  <th><%= @book.body %></th>
  <% if @user == current_user %>
  <th><%= link_to 'Edit', edit_book_path(@book) %> </th>
  <th><%= link_to 'delete', books_path, method: :delete %></th>
  <% end %>
</tr>

</table>
